.Logo-Container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height:100vh ;
    width: 100vw;
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 70%, rgba(247,225,67,1) 94%, rgba(0,0,0,1) 100%);
.row{
    }
    .Logo-IMG{
        width: 100%;
    }
}